<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.generator.dao.StockMapper">
  <resultMap id="BaseResultMap" type="com.test.generator.entity.Stock">
    <id column="product_id" jdbcType="INTEGER" property="product_id" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where product_id = #{product_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.generator.entity.Stock">
    insert into stock (product_id, price, amount
      )
    values (#{product_id,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{amount,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.test.generator.entity.Stock">
    update stock
    set price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=INTEGER}
    where product_id = #{product_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select product_id, price, amount
    from stock
    where product_id = #{product_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select product_id, price, amount
    from stock
  </select>
</mapper>